.side-nav {
 font-size: 1.4rem;
 margin-top: 1rem;
 text-decoration: none;
 text-transform: capitalize;
 color: cyan;
}

.container,
.conatiner-user {
 padding: 1.5rem 2rem !important;
 text-transform: capitalize;
}

.navLinks {
 padding: 0 0;
 position: relative;
 width: inherit;
 margin-bottom: 1.5rem;
}

.navLinks .nav-item::before {
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 3px;
 background-color: black;
 transform: scaleY(0);
 transition: transform 0.2s, width cubic-bezier(1, 0, 0, 1) 0.2s;
}

.navLinks .nav-item:not(:last-child) {
 margin-bottom: 3.5rem !important;
}

.nav-item:hover::before,
.nav-item-active::before {
 transform: scaleY(1);
 width: 100%;
}

.nav-item-active {
 background-color: black;
}

.side-nav .nav-item {
 padding: 1.5rem 2rem;
}

.side-nav .nav-item:not(:last-child) {
 margin-bottom: 1.5rem;
}

.nav-link:link,
.nav-link:visited {
 padding: 0 0;
 text-decoration: none;
 color: cyan;
 display: block;
 position: relative;
 z-index: 1000;
}

/* .nav-link:hover {
 color: black;
} */
